#btn1{
    position: absolute;
    left: 45%;
    bottom: 25%;
    width: 250px;
    height: 60px;
    font-size: 17px;
    border-radius: 15px;
}
#btn2{
    position: absolute;
    left: 45%;
    bottom: 15%;
    width: 250px;
    height: 60px;
    font-size: 17px;
    border-radius: 15px;
}
body{
    background:url('/메인코드/media/배경/1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}
.rule{
    position:absolute;
    left:17%;
    bottom:5%;
}
.ar{
    position:absolute;
    bottom:5%;
    cursor : pointer;
}
#ar1{
    left:43%;
}
#ar2{
    left:53%;
}
#cl{
    width: 130px;
    height: 130px;
    position:absolute;
    left:75%;
    bottom: 82%;
}
.btn{
    cursor : pointer;
}
.n{
    position:absolute;
    left:47%;
    bottom:7%;
    width:130px;
    height:50px;
}