button[type=spk]{
    border-color: transparent;
    background-color: transparent;
}
button[type=btn1]{
    position: absolute;
    left: 45%;
    bottom: 25%;
    width: 250px;
    height: 60px;
    font-size: 17px;
    border-radius: 15px;
}
button[type=btn2]{
    position: absolute;
    left: 45%;
    bottom: 15%;
    width: 250px;
    height: 60px;
    font-size: 17px;
    border-radius: 15px;
}
body{
    background:url('https://user-images.githubusercontent.com/110547050/185195355-b6d4825c-0f4f-4539-ad2b-3fa9f67ad9c0.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}